{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{super()}}
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}



{% block app_content %}
    {% if updateTime %}
    <div class="mdl-grid">
        <p>Last updated on: <b>{{ moment(updateTime).format('LLL') }}</b></p>
    </div>
    {% endif %}
    <div class="input-group mx-auto" display="table">
        {% if form %}
        {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <br>
    <table id="table_id" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%">

{% endblock %}

{% block scripts %}

{{ super() }}
<script>
    $(document).ready( function () {
    $('#table_id').DataTable({
        dom: '<"top"f>Bt<"bottom"lip>r',
        responsive: true,
        data:  {{ inventoryJSON | safe }},
        columns: [
            { data: "description", title: "Description"},
            { data: "quantity", title: "Quantity"},
            { data: "price", title: "Price" },
            { data: "store", title: "Store" },
            { data: "address", title: "Store Address" },
            { data: "phone", title: "Store Phone #" },
            { data: "size", title: "Size" },
            { data: "wtype", title: "Type" },
            { data: "brand", title: "Brand" },
            { data: "sku", title: "SKU"},
            { data: "link", title: "MeckABC Link",
                render: function(data){
                    data = '<a href="' + data + '">Click Here</a>';
                return data;
                }
            }
        ],
        order: [[ 2, "desc" ]],
        language: {
            searchPlaceholder: "Search Inventory",
            search: "",
        },
        pagingType: "simple"
        
    })
    } );
</script>
{% endblock %}


